<div class="container">
  <div class="jumbotron my-0">
    <div class="text-center py-5 my-5">
      <a class="my-2 my-sm-0 text-primary display-1 font-weight-bolder" aria-expanded="false">
        <span class="spinner-grow text-primary my-5 " role="status"></span>
        <i class="fa fa-microphone" aria-hidden="true"></i>
        <span>Vibrant</span>
      </a>
      <div class="font-weight-bolder display-4 text-secondary"><i class="fa fa-globe" aria-hidden="true"></i> World of
        Oppertunities</div>

    </div>


    <div class="border-top border-primary"></div>
    <div class="row mb-3">
      <div class="col-12 col-md-5 col-lg-5 col-sm-5 col-xl-5">
        <div class="h1 big">OVERVIEW</div>
        <div class="lead"><span class="text-primary font-weight-bolder">Vibrant</span> is the largest gathering of Art
          and Science community in India. With around 500 people expected at
          the 2020 edition, you will meet the creators of Angular and MongoDB team members, GDE, MVP, Authors coming
          from the
          various countries of the world to teach you Angular, MongoDB. Join to learn, network, recruit and befriend
          like-minded people.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore tenetur beatae reiciendis explicabo.
          Sapiente, reprehenderit laudantium at expedita libero sed.
        </div>
      </div>
      <div class="col-12 col-md-7 col-lg-7 col-sm-7 col-xl-7">
        <iframe width="560" height="315" class="my-5 justify-content-center border border-primary"
          src="https://www.youtube.com/embed/2ZFgcTOcnUg" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="border-top border-primary"></div>
  </div>
</div>