<div class="container py-0">
    <div class="jumbotron alert alert-secondary py-0">
        <div class="row">


            <div class="col-12 col-md-6 col-xl-6 col-lg-6 col-sm-6">
                <div class="my-5"></div>
                <div class="my-5"></div>


                <img src="/assets/mobile.png" class="py-5" width="100%" alt="Mobile">
            </div>


            <div class="col-12 col-md-6 col-xl-6 col-lg-6 col-sm-6">
                <div class="row">

                    <div class="col-6 col-md-3 col-xl-3 col-lg-3 col-sm-3"></div>
                    <div class="col-6 col-md-6 col-xl-6 col-lg-6 col-sm-6 alert alert-primary">
                        <img src="/assets/appstore.jpg" width="100%" alt="Appstore">
                        <div class="my-5"></div>
                        <img src="/assets/qr-app.png" width="100%" alt="Appstore">
                        <div class="my-5"></div>
                        <span class="text-white text-center rounded h6 bg-primary px-1 py-3"><i class="fa fa-qrcode"
                                aria-hidden="true"></i>
                            Scan QR to Download App </span>
                        <div class="my-5"></div>
                        <img src="/assets/playstore.jpg" width="100%" alt="Playstore">
                    </div>


                </div>
            </div>


        </div>



        <div class="my-5"></div>
        <div class="my-5"></div>
        <div class="border-top border-primary"></div>






        <div class="row">
            <div class="col-12 col-md-3 col-xl-3 col-lg-3 col-sm-3"></div>
            <div class="col-12 col-md-6 col-xl-6 col-lg-6 col-sm-6">
                <h1 class="display-3 text-center text-primary font-weight-bold border border-primary"> <i
                        class="fa fa-microphone" aria-hidden="true"></i> Vibrant</h1>

                <p class="lead text-center font-weight-bold">Download for more Exciting Feature</p>
                <div class="my-5"></div>
                <div class="my-5"></div>
                <div class="my-5"></div>
                <div class="my-5"></div>
                <div class="my-5"></div>

            </div>
            <div class="col-12 col-md-3 col-xl-3 col-lg-3 col-sm-3"></div>




            <div class="col-12 col-md-3 col-xl-3 col-lg-3 col-sm-3"></div>
            <div class="col-12 col-md-6 col-xl-6 col-lg-6 col-sm-6">
                <ul class="list-group mx-5">


                    <li
                        class="list-group-item bg-transparent border border-secondary rounded text-primary font-weight-bold text-center">
                        Download Previous Speeches</li>
                    <li
                        class="list-group-item bg-transparent border border-secondary rounded text-primary font-weight-bold text-center">
                        More offer in Ticket Booking</li>
                    <li
                        class="list-group-item bg-transparent border border-secondary rounded text-primary font-weight-bold text-center">
                        Big Discount for lTeam</li>
                    <li
                        class="list-group-item bg-transparent border border-secondary rounded text-primary font-weight-bold text-center">
                        First Notification for Discounts</li>
                    <li
                        class="list-group-item bg-transparent border border-secondary rounded text-primary font-weight-bold text-center">
                        Chances of free Wild Card Ticket of
                        Event<span class="text-danger ">*</span></li>
                </ul>
                <hr class="my-2">
                <span class="text-danger mx-5">*Terms and Condition Apply</span>


            </div>
            <div class="col-12 col-md-3 col-xl-3 col-lg-3 col-sm-3"></div>
        </div>


    </div>
</div>