<div class=" alert alert-primary" *ngIf="professional">
  <h1 class="display-3 text-center font-weight-bolder py-5">{{professional.title}}</h1>
  <div class="my-2 border-bottom border-primary text-primary text-right">A conference organised by Vibrant on
    {{professional.type}}
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-6 col-lg-6 col-sm-6  text-center ">
      <div [class]="'font-weight-bold alert alert-'+color">{{status}}
      </div>
      <ul class="list-group mb-5 py-5">
        <li class="list-group-item bg-transparent border-primary border-left-0 border-right-0 ">Start: <span class="h5">
            {{professional.start | date:'MM/dd/yyyy'}}</span> </li>
        <li class="list-group-item bg-transparent border-primary border-left-0 border-right-0 ">Ends: <span class="h5">
            {{professional.end | date:'MM/dd/yyyy'}}</span> </li>
        <li class="list-group-item bg-transparent border-primary border-left-0 border-right-0">Venue: <span class="h5">
            {{professional.venue}}</span> </li>
        <li class="list-group-item bg-transparent border-primary border-left-0 border-right-0">Free Lunch and Snacks
        </li>
        <li class="list-group-item bg-transparent border-primary border-left-0 border-right-0">3 hrs interaction with
          Speaker
        </li>
      </ul>
      <div class=" font-weight-bold border-top border-bottom border-primary">
        <div class="my-2 h5"> {{professional.description}}</div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-6 text-center py-3 col-lg-6 col-sm-6 border border-primary alert alert-light">
      <div class="h1 py-5"><span class="display-1">
          <i class="fa fa-ticket" aria-hidden="true"></i><br />
        </span>${{professional.price}}<span class="h4">/ticket</span></div>
      <div class="my-2 h5">You can avail special discount with coupons under coupon section in cart</div>
      <button class="btn btn-primary"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
    </div>
  </div>
  <div class="alert alert-primary" *ngIf="professional.speakers.length">Speaker List</div>
  <ul class="list-group" *ngIf="professional.speakers.length">
    <li class="list-group-item" *ngFor="let hero of professional.speakers">{{hero.name}}</li>
  </ul>
  <div class="alert alert-primary" *ngIf="professional.sponsors.length">Sponsor List</div>
  <ul class="list-group" *ngIf="professional.sponsors.length">
    <li class="list-group-item" *ngFor="let hero of professional.sponsors">{{hero.name}}</li>

  </ul>
</div>