<div class="container">
  <div class="row">
    <div class="col-md-9 col-lg-9 col-xl-9 col-sm-9">
      <div class="alert alert-primary">
        <h1 class="display-3 font-weight-bolder">User Profile</h1>
        <p class="lead">Your Details here</p>
        <hr class="my-2" />
        <div class="lead">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="h4">Name:</div>
                </td>
                <td>{{user.name}}</td>
              </tr>
              <tr>
                <td>
                  <div class="h4">Email:</div>
                </td>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <td>
                  <div class="h4">Contact:</div>
                </td>
                <td>{{user.contact}}</td>
              </tr>
              <tr>
                <td>
                  <div class="h4">Address:</div>
                </td>
                <td>{{user.address}}</td>
              </tr>
              <tr>
                <td>
                  <div class="h4">Country:</div>
                </td>
                <td>{{user.country}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>