<div class="container">
  <div class="jumbotron text-center py-0">
    <h1 class="display-4 text-primary font-weight-bolder">Welcome to Customer Care!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.
    </p>
    <hr class="my-4" />
    <div class="small ">
      <label class="h2" htmlFor="exampleInputEmail1">Your Present Phone Number</label>
      <br /> <input type="number" class="rounded border border-primary h4" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder=" &nbsp;&nbsp;&nbsp; Enter phone to call" />
      <small id="emailHelp" class="form-text text-muted h5">
        We'll never share your phoneno with anyone else.
      </small>
      <button class="btn btn-primary btn-lg py-2" href="#" role="button">Call Now</button>
      <button class="btn btn-outline-primary btn-lg my-5 " href="#" role="button">Chat with Our Agent</button>
    </div>
    <div class="display-3 text-primary">-- or --</div>
    <div>
      <span class="h5">Enter Email:<span> <br />
          <input type="text" name="subject" value="contact@vibrant.com" disabled id="subject" size="27"
            class="py-1 text-primary border border-primary rounded"><br>
          <input type="text" name="subject" placeholder="Subject" id="subject" size="27"
            class="py-1 border border-primary rounded"><br>
          <textarea rows="4" cols="30" ref="feedback" name="feedback" class=" border border-primary rounded"
            placeholder=" Enter Your Concerns" required></textarea>
          <span class="text-danger h6"></span>
          <div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary " id="submit" name="submit" value="Send Mail" required />
            </div>
          </div>
        </span>
      </span>
    </div>
  </div>
</div>